/* CSS declarations go here */

body {
  background-color: #192D3A;
  background: #192D3A !important;
  font-family: 'Roboto' !important ;
  height: 100%;

}
.x {
  font-family: 'Roboto', sans-serif !important;
}

#app {
  background-color: #192D3A;
	 background: #192D3A;
	 text-align: center;
	 font-family: 'Roboto', sans-serif;

}

#projectBtn {
	margin-bottom: 60px;
  margin-top: 30px;
}

#edit-input {
	margin-top: 10px;
}

#expBtn {
	margin-top: 30px;
}


#expBorder {
      border:2px solid red;
      margin-bottom: 5px;
      border-radius: 5px;
      padding: 5px;
    }

#incBorder {
   border: 2px solid #54c8ff;
  margin-bottom: 5px;
  border-radius: 5px;
  padding: 5px;
    }


#expText {
  width: 80%;
  margin: auto;
}

#incText {
  width: 80%;
  margin: auto;
}

#expText > div {
    display: inline-block;
    display: -moz-inline-box;
    zoom: 1; /* Trigger hasLayout */
    margin-left: 2%;
    width: 22%;
    text-align: center;
}

#incText > div {
    display: inline-block;
    display: -moz-inline-box;
    zoom: 1; /* Trigger hasLayout */
    margin-left: 2%;
    width: 22%;
    text-align: center;
    color: #54c8ff;
}

#backBtn {
  display: block;
  position: right;
  margin-top: 8px;
  margin-left: 8px;
}

#editBtn {
  float: right;
}

#border {
      border:2px solid #54c8ff;
      border-radius: 50px;
      margin-bottom: 25px;
      margin-left: 15px;
      margin-right: 15px;
      padding: 20px;
    }

#expBorder {
      border:2px solid red;
      margin-bottom: 5px;
      border-radius: 5px;
      padding: 5px;
    }

#addBtn {
  margin-bottom: 60px;
}
#updateBtn {
  margin-bottom: 80px;
}

#total {
  margin-bottom: 30px;
}

#main {
  margin-top: 20px;
}
#projectHeading {
  margin-top: 30px;
}

#smiley {
  margin-bottom: 15px;
}

#padCategory {
  margin-left: 5px;
  margin-right: 5px;
}

#mainBtns {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

#incAndExpBtn {
  margin-bottom: 35px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

